.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 2.5rem;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color-dark);
  padding: 0;
}

.password-rules {
  list-style: none;
  margin-top: 0.5rem;
  padding-left: 0.25rem;
  font-size: 0.9rem;
  color: #666;
}

.password-rules li {
  position: relative;
  padding-left: 1.5em;
  margin-bottom: 0.25rem;
}

.password-rules li::before {
  content: '✗';
  position: absolute;
  left: 0;
  color: var(--clr-error-highlight);
  transition: color 0.3s;
}

.password-rules li,
.password-rules li::before {
  opacity: 0.5;
  transition: opacity 0.3s ease, color 0.3s ease;
}

.password-rules li.valid {
  opacity: 1;
  color: var(--clr-valid);
  text-decoration: line-through;
  font-style: italic;
}

.password-rules li.valid::before {
  opacity: 1;
  content: '✓';
  color: var(--clr-valid);
}
