.custom-select-container {
  position: relative;
  width: var(--custom-select-width);
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 1.25rem;
  background-color: var(--bg-color-bright);
  border: 1px solid var(--text-color-dark);
  cursor: pointer;
  user-select: none;
}

.custom-select-value.placeholder {
  color: #646464;
}

.custom-select-container[aria-invalid] .custom-select-value {
  border: 2px solid var(--clr-error-highlight);
  background-color: var(--clr-error-background);
}

.custom-select-container:focus > .custom-select-value {
  outline: 1px solid var(--text-color-dark);
}

.custom-select-value::after {
  content: '';
  display: inline-block;
  margin-left: 0.75rem;
  margin-top: 0.25rem;
  border: 4px solid transparent;
  border-top-color: var(--text-color-dark);
}

.custom-select-options {
  position: absolute;
  opacity: 0;
  width: var(--custom-select-width);
  height: var(--custom-select-width);
  font-size: 1.25rem;
  overflow-y: auto;
  padding: 0.25rem 0;
  margin: 0 0 2rem;

  transition: opacity 0.2s ease;
}

.custom-select-options.show {
  opacity: 1;
}

.custom-select-option {
  opacity: 0;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  user-select: none;
  background: linear-gradient(
    145deg,
    var(--bg-color-bright) 20%,
    var(--clr-button-hover)
  );
}

.custom-select-option.selected {
  background: var(--clr-button-default);
  color: var(--bg-color-bright);
}

.custom-select-option:hover {
  color: var(--text-color-dark);
}

@keyframes optionsFlyIn {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.custom-select-options.show .custom-select-option {
  animation: optionsFlyIn 0.3s ease forwards;
}
