:root {
  --bg-color-bright: #f6f6f6;
  --text-color-dark: #1c1c1c;

  --clr-button-default: #ff5905;
  --clr-button-hover: #ff8547;
  --clr-button-disabled: #6f6f6f;
  --clr-button-disabled-hover: #808080;

  --clr-hover-border: #508aa8;
  --clr-hover-outline: #60b8e3;

  --clr-error-highlight: #e00000;
  --clr-error-outline: #ff5c5c;
  --clr-error-background: #ffd6d6;

  --clr-valid: #27a555;

  --custom-select-width: 350px;
  --custom-select-height: 320px;
}

.form-container,
.headline .text,
.form-register-input {
  font-family: 'Lucida Sans', sans-serif;
}

.headline {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin: 0.5rem 0;

  .text {
    color: var(--clr-button-default);
  }
}

.form-container {
  width: auto;
  max-width: 100%;
  margin: 0 0.5rem 2rem;

  @media (min-width: 768px) {
    width: 60%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
}

.form-border-1 {
  background-color: var(--clr-button-hover);
  padding: 3px;
  border-radius: 6px;
}
.form-border-2 {
  background-color: var(--bg-color-bright);
  padding: 3px;
  border-radius: 4px;
}
.form-border-3 {
  padding: 1rem 0.5rem;
  background: var(--bg-color-bright);
  border-radius: 4px;
  box-shadow: none;

  @media (min-width: 768px) {
    padding: 1rem 3rem 4rem;

    box-shadow: inset 0 0 25px 5px var(--clr-button-hover);
  }
}

.form-register-error {
  min-height: 1.5rem;
  padding-top: 0.25rem;
}

.form-register-error .error-msg {
  display: inherit;
  margin: 0;
  color: var(--clr-error-highlight);
  line-height: 1.25;
}

.form-fieldset {
  padding: 0;
  border: 3px solid var(--bg-color-bright);
  border-radius: 8px;
  outline: 10px solid var(--clr-button-hover);
  background-color: #e1e1e1;
}

.form-legend {
  position: absolute;
  overflow: hidden;
  font-size: 0;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  clip: rect(0 0 0 0);
  white-space: nowrap;
}

.form-register-input,
.form-register-label,
.form-register-button {
  display: block;
}

.form-register-label {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--text-color-dark);
}

.form-register-input,
.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.form-register-input {
  width: 100%;
  height: 50px;
  font-size: 1.25rem;
  padding: 0.5rem;
  color: var(--text-color-dark);
  border: 2px solid #e0e0e0;
  border-radius: 4px;
}

.form-register-input:hover {
  outline: 3px solid var(--clr-hover-outline);
  border-color: var(--clr-hover-border);
}

.form-register-input[aria-invalid] {
  border-color: var(--clr-error-highlight);
  background-color: var(--clr-error-background);
}

.form-register-input[aria-invalid]:hover {
  border-color: var(--clr-error-highlight);
  outline: 3px solid var(--clr-error-outline);
}

.form-register-button {
  display: inline-block;
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: var(--bg-color-bright);
  background-color: var(--clr-button-default);
  border: 1px solid var(--clr-button-default);
  cursor: pointer;
  transition: transform 0.15s ease, color 0.2s ease, background-color 0.2s ease;
}

.form-register-button:not([aria-disabled='true']):hover {
  color: var(--text-color-dark);
  background-color: var(--clr-button-hover);
  transform: scale(1.1);
}

.form-register-button[aria-disabled='true'] {
  color: var(--bg-color-bright);
  background-color: var(--clr-button-disabled);
  border-color: var(--clr-button-disabled);
  cursor: not-allowed;
}

.form-register-button[aria-disabled='true']:hover {
  background-color: var(--clr-button-disabled-hover);
  transform: scale(1.1);
}

.button-error-message {
  display: block;

  @media (min-width: 768px) {
    display: inline-block;
    margin-left: 1rem;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
