:root {
  --bg-color-bright: #f6f6f6;
  --text-color-dark: #1c1c1c;

  --clr-button-default: #ff5905;
  --clr-button-hover: #ff8547;
  --clr-button-disabled: #6f6f6f;

  --clr-hover-border: #508aa8;
  --clr-hover-outline: #60b8e3;

  --clr-error-highlight: #e00000;
  --clr-error-outline: #ff5c5c;
  --clr-error-background: #ffd6d6;

  --custom-select-width: 250px;
}

.example-page {
  background-color: var(--bg-color-bright);
}

.form-container {
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
  padding: 3rem 0;
  font-family: 'Lucida Sans', sans-serif;
}

.form-register-error {
  min-height: 1.5em;
  padding-bottom: 0.5rem;
}

.form-register-error .error-msg {
  display: inherit;
  margin: 0;
  color: var(--clr-error-highlight);
}

.form-fieldset {
  padding: 1em 3em 4em;
  border: none;
  border-radius: 4px;
  background-color: #e1e1e1;
}

.form-legend {
  font-size: 0;
}

.form-register-input,
.form-register-label,
.form-register-button {
  display: block;
}

.form-register-label {
  display: inline-block;
  margin-top: 1em;
  font-size: 1.25em;
  line-height: 1.5;
  color: var(--text-color-dark);
}

.form-register-input,
.custom-select-container,
.custom-select-value,
.custom-select-options,
.custom-select-option {
  box-sizing: border-box;
}

.form-register-input {
  width: 100%;
  height: 50px;
  font-size: 1.25em;
  padding: 0.5em;
  color: var(--text-color-dark);
  border: 2px solid #e0e0e0;
  border-radius: 4px;
}

.form-register-input:hover {
  outline: 3px solid var(--clr-hover-outline);
  border-color: var(--clr-hover-border);
}

.form-register-input[aria-invalid] {
  border-color: var(--clr-error-highlight);
  background-color: var(--clr-error-background);
}

.form-register-input[aria-invalid]:hover {
  border-color: var(--clr-error-highlight);
  outline: 3px solid var(--clr-error-outline);
}

.custom-select-container {
  position: relative;
  width: var(--custom-select-width);
}

.custom-select-value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border: 1px solid var(--text-color-dark);
  cursor: pointer;
  user-select: none;
  background-color: var(--bg-color-bright);
}

.custom-select-container:focus > .custom-select-value {
  outline: 1px solid var(--text-color-dark);
}

.custom-select-value::after {
  content: '';
  display: inline-block;
  margin-left: 0.75rem;
  margin-top: 0.25rem;
  border: 4px solid transparent;
  border-top-color: var(--text-color-dark);
}

.custom-select-options {
  position: absolute;
  display: none;
  width: var(--custom-select-width);
  height: var(--custom-select-width);
  overflow-y: auto;
  padding: 0;
  margin: 0;
  border: 2px solid var(--text-color-dark);
  border-top: none;
  list-style-type: none;
  background-color: var(--bg-color-bright);
}

.custom-select-options.show {
  display: block;
}

.custom-select-option {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  user-select: none;
}

.custom-select-option:hover {
  background-color: var(--clr-hover-outline);
}

.custom-select-option.selected {
  background-color: var(--clr-hover-border);
  color: var(--bg-color-bright);
}

.form-register-button {
  display: inline-block;
  margin-top: 1.5em;
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-size: 1.5em;
  color: var(--bg-color-bright);
  background-color: var(--clr-button-default);
  border: 1px solid var(--clr-button-default);
  cursor: pointer;
}

.form-register-button:hover {
  color: var(--text-color-dark);
  background-color: var(--clr-button-hover);
}

.form-register-button[aria-disabled='true'] {
  color: var(--bg-color-bright);
  background-color: var(--clr-button-disabled);
  border-color: var(--clr-button-disabled);
  cursor: not-allowed;
}

.button-error-message {
  display: inline-block;
  margin-left: 1em;
}
